@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none;
}

#new-book-btn {
  border-radius: 20px;
  border: none;
  background-color: #0096c7;
  color: white;
  padding: 5px 10px;
}

.book-name {
  font-size: 1.2rem;
}

.book-author {
  font-size: 1.1rem;
}

#book-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.book-container {
  min-width: 250px;
  padding: 10px;
  border: 5px solid black;
}

.read {
  border: 5px solid green;
}
