@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 50px 50px;
}

.hidden {
  display: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.darkened {
  z-index: 1;
  position: absolute;
  background-color: rgba(83, 83, 83, 0.575);
  height: 100%;
  width: 100%;
  transform: translate(-50px, -50px);
  padding: 0;
  margin: 0;
}

#new-book-btn,
button[type="submit"] {
  border-radius: 20px;
  border: none;
  background-color: #0096c7;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  cursor: pointer;
}

.book-name {
  font-size: 1.2rem;
}

.book-author {
  font-size: 1.1rem;
}

#book-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.book-container {
  min-width: 350px;
  padding: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.book-container button {
  border: none;
  border-radius: 20px;
  background-color: #0096c7;
  color: white;
  padding: 10px 15px;
  font-size: 1.1rem;
  cursor: pointer;
}

.book-container button:first-child {
  align-self: flex-start;
}

.read {
  border: 5px solid green;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid black;
  border-radius: 5px;
  width: 25vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
}

form label {
  font-size: 1.2rem;
}

#close-book-window {
  align-self: flex-end;
  margin-right: 20px;
  border-radius: 20px;
  border: none;
  background-color: #0096c7;
  color: white;
  padding: 10px 15px;
  font-size: 1.1rem;
  cursor: pointer;
}
